<h3> The Figure You Selected Is: <%= @figure.name %> </h3>

<h3> Landmarks: </h3>
<% @figure.landmarks.each do |landmarks| %>
  <li> <%= landmarks.name %> <%=landmarks.year_completed%> </a> </li>
<%end%>

<h3> Titles: </h3>
<% @figure.titles.each do |title| %>
  <li>  <%=title.name%>  </li>
  <%end%>

</br>

<p> To Edit This Figure Select <a href= "/figures/<%=@figure.id%>/edit"> Edit Figure </a></p>


<p> Select to Go Back to Figure List: <a href= "/figures" >Figure List  </a> </p>

<p> Select to Go Back to Home Page: <a href= "/" > Home Page  </a> </p>
